# Answer 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statistics as sn
import scipy.stats as stats
import statsmodels as sms

In [2]:
import warnings
warnings.filterwarnings('ignore')

Parameter of Interest:  ùúá1‚àíùúá2 , Diameter of Cutlet.

Null Hypothesis:  ùúá1=ùúá2, There is no significant difference in the diameter of the cutlet between two units. 

Alternative Hypthosis:  ùúá1‚â†ùúá2, There is any significant difference in the diameter of the cutlet between two units.

In [3]:
cutlets = pd.read_csv('Cutlets.csv')
cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [4]:
Unit1 = cutlets["Unit A"] 
Unit1.mean()

7.01909142857143

In [5]:
Unit2 = cutlets["Unit B"] 
Unit2.mean()

6.964297142857142

In [6]:
sm.stats.ztest(cutlets["Unit A"].dropna(), cutlets["Unit B"].dropna(), alternative='two-sided')

(0.7228688704678063, 0.46976045023906055)

since p-value is 0.722 and high, we can accept the null hypothesis that 
there is no significant difference in the diameter of the cutlet between two units.

# Answer 2

In [7]:
Lab_TAT = pd.read_csv('LabTAT.csv')
Lab_TAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

##### Anova Testing

p-value > 0.05, Null Hypothesis

p-value < 0.05, Alt Hypothesis (There is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list)

In [8]:
stats.f_oneway(Lab_TAT.iloc[:,0], Lab_TAT.iloc[:,1],Lab_TAT.iloc[:,2], Lab_TAT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

 pvalue=2.1156708949992414e-57 is very small than 0.05. Therefore, we reject the null hypothesis
 
 There is a difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list

# Answer 3

##### Chi Square - Test of Independence

In [9]:
table = [[50, 152, 131, 70],[550,351,480,350]]
print(table)

[[50, 152, 131, 70], [550, 351, 480, 350]]

In [10]:
from scipy.stats import chi2_contingency

In [11]:
stat, p, dof, expected = chi2_contingency(table)
print('dof=%d' % dof)
print(p)

dof=3
2.4886000518734753e-19

In [12]:
alpha = 0.05
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

significance=0.050, p=0.000
Dependent (reject H0)

###### Answer : Not all Proportions are equal

# Answer 4

In [13]:
Form = pd.read_csv('CustomerOrderForm.csv')
Form

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [14]:
Form_Count = Form.apply(pd.value_counts)
Form_Count

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [15]:
Form_Count.loc['Def_Perc'] = [Form_Count.iloc[1,0]/3, Form_Count.iloc[1,1]/3,Form_Count.iloc[1,2]/3,Form_Count.iloc[1,3]/3]
Form_Count

            Phillippines  Indonesia       Malta       India
Error Free    271.000000      267.0  269.000000  280.000000
Defective      29.000000       33.0   31.000000   20.000000
Def_Perc        9.666667       11.0   10.333333    6.666667

Null Hypothesis p>0.05 = % of defective of all countries are equal 

Alternate Hypothesis p<0.05 =at least  one defective % is  not equal

In [16]:
sample_defective_phil, sample_size_phil = (29, 300)
sample_defective_indo, sample_size_indo = (33, 300)
sample_defective_malta, sample_size_malta = (31,300)
sample_defective_ind, sample_size_ind = (20,300)

In [17]:
sample_def = np.array([sample_defective_phil,sample_defective_indo,sample_defective_malta,sample_defective_ind])
sample_size = np.array([sample_size_phil,sample_size_indo,sample_size_malta,sample_size_ind])

In [18]:
sms.stats.proportion.proportions_chisquare(count=sample_def, nobs=sample_size, value= None)

(3.8589606858203545,
 0.2771020991233144,
 (array([[ 29, 271],
         [ 33, 267],
         [ 31, 269],
         [ 20, 280]]),
  array([[ 28.25, 271.75],
         [ 28.25, 271.75],
         [ 28.25, 271.75],
         [ 28.25, 271.75]])))

In [19]:
p_val = 0.277

In [20]:
alpha = 0.05
print('significance=%.3f, p=%.3f' % (alpha, p_val ))
if p_val  <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

significance=0.050, p=0.277
Independent (fail to reject H0)

##### Therefore accept null hypothesis. The percentage defective in all countries are equal